<div class="container">
  <div class="card-columns">
    <% @my_pins.each do |my_pin| %>
      <div class="card">
        <%= image_tag my_pin.image.url(:index), class: "card-img-top" %> 
          <div class="card-block">
            <h4 class="card-title"><%= my_pin.title %></h4>
            <p class="card-text"><%= my_pin.description %></p>
            <%= link_to "see pin", pin_path(my_pin), class: "btn btn-info" %>
            <%= link_to "edit pin", edit_pin_path(my_pin), class: "btn btn-primary" %>
            <%= link_to "delete pin", pin_path(my_pin), class: "btn btn-success", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
      </div> 
    <% end %>
  </div>
</div>          
       
