<div class="container"> 
  <div class="demo-card">
    <div class="card">
        <%= image_tag @pin.image.url(:show), class: "card-img-top img-responsive" %> 
        <div class="card-block">
          <h4 class="card-title"><%= @pin.title %></h4>
            <p class="card-text"><%= @pin.description %></p>
        </div>
        <div class="card-block">
          <% if current_user == @pin.user %>
            <%= link_to "edit pin", edit_pin_path(@pin), class: "btn btn-primary" %>
            <%= link_to "delete pin", pin_path(@pin), class: "btn btn-success", method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "see my pins", my_pins_path, class: "btn btn-warning" %>
          <% end %>
          <%= link_to 'see all pins', pins_path, class: "btn btn-info" %>
          <%= form_tag(boards_add_pin_to_board_path(pin: @pin), method: :post) do |f| %>
            <%= select_tag 'board', options_for_select(current_user.boards.collect{ |u| [u.name, u.id] }) %>
          <%= submit_tag 'submit' %>
          <% end %>  
        </div>
    </div>
  </div>
</div>
