<div class="container">
  <div class="card-columns">
    <% @my_boards.each do |my_board| %>
      <div class="card">
          <div class="card-block">
            <h4 class="card-title"><%= my_board.name %></h4>
            <p class="card-text"><%= my_board.subtitle %></p>
            <%= link_to "see board", board_path(my_board), class: "btn btn-info" %>
            <%= link_to "edit board", edit_board_path(my_board), class: "btn btn-primary" %>
            <%= link_to "delete board", board_path(my_board), class: "btn btn-success", method: :delete, data: { confirm: 'Are you sure? '} %>
          </div>
      </div> 
    <% end %>
  </div>
</div>          
