<!DOCTYPE html>
<html>
<head>
  <title>Thingz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- 
# <% if user_signed_in? %>
      # <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
    <% end %> -->

<nav class="navbar navbar-light bg-faded">
    <%= link_to 'Thingz', root_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'My Homepage', pins_path, class: "nav-link" %><span class="sr-only">(current)</span>
        </li>
         <li class="nav-item">
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link" %><span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link" %><span class="sr-only">(current)</span>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log In', new_user_session_path, class: "nav-link" %><span class="sr-only">(current)</span>
        </li>   
        <li class="nav-item">
          <%= link_to 'Register here', new_user_registration_path, class: "nav-link" %><span class="sr-only">(current)</span>
        </li>  
      <% end %>
      <li class="nav-item">
      </li>
      <li class="nav-item">
      </li>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
